<?xml version="1.0"?>
<config>
  <modules>
    <Editea_Sorter>
      <version>0.1.0</version>
    </Editea_Sorter>
  </modules>
  <global>
    <helpers>
      <sorter>
        <class>Editea_Sorter_Helper</class>
      </sorter>
    </helpers>
	<blocks>
	  <sorter>
		<class>Editea_Sorter_Block</class>
	  </sorter>
	</blocks>
	<models>
	  <sorter>
		<class>Editea_Sorter_Model</class>
		<resourceModel>sorter_mysql4</resourceModel>
	  </sorter>
	  <sorter_mysql4>
		<class>Editea_Sorter_Model_Mysql4</class>
		<entities>		  
			  <sorter>
				<table>editea_report</table>
			  </sorter>
			<validetor>
				<table>editea_validetor</table>
			</validetor>
        </entities>
	  </sorter_mysql4>
	</models>
	<resources>
	  <sorter_setup>
		<setup>
		  <module>Editea_Sorter</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </sorter_setup>
	  <sorter_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </sorter_write>
	  <sorter_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </sorter_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <sorter>
	    <use>admin</use>
		<args>
		  <module>Editea_Sorter</module>
		  <frontName>admin_sorter</frontName>
		</args>
	  </sorter>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <sorter module="sorter">
		<title>Sorter</title>
		<sort_order>100</sort_order>
		<children>
		  <sorter module="sorter">
		    <title>Manage Sorter</title>
			<sort_order>0</sort_order>
			<action>admin_sorter/adminhtml_sorter</action>
		  </sorter>
		</children>
	  </sorter>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<sorter translate="title" module="sorter">
			  <title>Sorter</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <sorter translate="title">
			<title>Manage Sorter</title>
			<sort_order>0</sort_order>
		  </sorter>
			  </children>
			</sorter>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<sorter>
		  <file>sorter.xml</file>
		</sorter>
	  </updates>
	</layout>
  </adminhtml>
	<frontend>
		<routers>
			<sorter>
				<use>standard</use>
				<args>
					<module>Editea_Sorter</module>
					<frontName>editea_sorter</frontName>
				</args>
			</sorter>
		</routers>
	</frontend>
</config> 